<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
    <context:component-scan base-package="com.lee" />
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

<!--    <bean id="la" class="com.lee.common.LogAdvice2"/>-->
<!--    <bean id="ara" class="com.lee.common.AfterReturningAdvice"/>-->
<!--    <bean id="aa" class="com.lee.common.AroundAdvice"/>-->


<!--    <bean id="al2" class="com.lee.common.AfterLog2"/>-->
<!--    <aop:config>-->
<!--        <aop:pointcut id="aPointcut" expression="execution(* com.lee..*Impl.*(..))"/>-->
<!--        <aop:pointcut id="bPointcut" expression="execution(* com.lee..*Impl.select*(..))"/>-->
<!--        <aop:aspect ref="aa">-->
<!--            <aop:around method="aroundLog" pointcut-ref="bPointcut" />-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

<!--    DataSource 객체 설정 (해제할때 사용중인 메모리들을 해지-->

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/jdbc"/>
        <property name="username" value="root"/>
        <property name="password" value="dnflwlq0527!"/>
    </bean>

<!--    JdbcTemplate 클래스 <bean> 등록하여 DI-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

<!--    트랜잭션 관련 설정-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="select*" read-only="true" />
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut expression="execution(* com.lee..*Impl.*(..))" id="cPointcut"/>

        <aop:advisor advice-ref="txAdvice" pointcut-ref="cPointcut"/>
    </aop:config>


</beans>